body {
  /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
  background: #0d1017;
  color: #fff;
}
.badge {
  text-align: center;
  background-color: #8f8f8f7f;
  padding: 4px 8px;
  border-radius: 5px;
}
.div{
  width:100%;
  text-align:center;
}
.img {
  width: 100%;
}

::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-track {
  background:transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
